# Node.js
node_modules/
npm-debug.log
.env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
.vscode/

# Temporary files
temp_review/
*.log
.DS_Store
